{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block body %}

    <h2>Ajouter un jeu</h2>

    {{ form_start(form) }}

        {{ form_widget(form) }}
        <select multiple class='form-control-lg' {{ form_row(form.categories, {'attr': {'class': 'list-group-item'}}) }}>
        <button type="submit">Valider</button>
    {{ form_end(form) }}

{% endblock %}
