{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block body %}

    <h2>Ajouter un jeu</h2>

    {{ form_start(form) }}

        {{ form_widget(form) }}
        {{ form_row(form.categories, {'attr': {'class': 'form-control'}}) }}
        <button type="submit">Valider</button>
    {{ form_end(form) }}

{% endblock %}
