$font-family-p: 'Reem Kufi', sans-serif;
$font-family-title: 'Oswald', sans-serif;

$color-text: white;
   

#gamepage {
  height: 100vh;
  .fa-plus-circle {
    margin-bottom: 1em;
    text-align: center;
    animation: shadowFloat 1.2s linear alternate infinite;
    border-radius: 50px;
    color: #fffdd8;
    font-size: 1.3em;
  }
}

.first {
  height: 100vh;
}
.second {
  height: 100vh;
}
.container {
  margin-top: 1em;
  padding-top: 2em;
  width: 50%;
  // height: 100vh;
  color: $color-text;
  .illustration {
    padding-bottom: 1em;
    img {
      width: 100%;
      border: 1px solid $color-text;
      border-radius: 14px;
      height: 27em;
      object-fit: cover;
    }
  }
  .title {
    display: flex;
    flex-direction: column;
    margin-top: 1em;
    padding-bottom: 1em;
    text-align: left;
    a {
      text-decoration: none;
      color: white;
      padding-bottom: 1em; 
    }
    &--title {
      color: white;
      font-family: 'Oswald', sans-serif!important;
      font-size: 3em!important;
      margin-top: -0.4em;
    }
    &--score {
      font-family: 'Oswald', sans-serif;
      margin-bottom: 1em;
      font-size: 3em;
    }
    &--not-score {
      font-family: 'Oswald', sans-serif;
      margin-bottom: 1em;
      font-size: 1em;
    }
    &--editor {
      font-family: 'Reem Kufi', sans-serif;
      margin-bottom: .5em;
    }
    &--developer {
      font-family: 'Reem Kufi', sans-serif;
      margin-bottom: .5em;
    }
    &--website {
      font-family: 'Reem Kufi', sans-serif;
      text-decoration: underline;
      margin-bottom: .5em;
    }
    &--released {
      font-family: 'Reem Kufi', sans-serif;
      margin-bottom: .5em;  
    }
  }
  .description {
    font-family: 'Reem Kufi', sans-serif;
    padding-top: 1em;
    &--description {
      color: $color-text;
      font-size: .9em;
      text-align: justify;
      overflow: hidden;
    }
  }
  .categories {
    padding-bottom: 1em;
    display: flex;
    flex-wrap: wrap;
    button {
      color: #FCC502 ;
      background: none;
      border: 1px solid #FCC502;
      border-radius: 4px;
      margin-right: .5em;
      margin-left: .5em;
      &:hover {
        color: #2D3536;
        background: #FCC502;
        border-color: #FCC502;
      }
    }
  }
}


.row--comments {
  // border-bottom: 1px solid white; remettre la bordure ici !!!!!!!!!!!!!!!!!!!!!!!!!
  color: white;
}

.partie--commentaire {
  background-color: rgba($color: #2D3536, $alpha: .8);
  border-radius: 8px;
  margin-bottom: 4em;
}

.row {
  margin-left: 0;
  margin-right: 0;
}

.firstpart {
  background-color: rgba($color: #2D3536, $alpha: .8);
  border-radius: 8px;
  padding-top: 1em;
  margin-top: 30px;
}

.secondpart {
  height: 100vh;
  padding-top: 5em;
  background-color: #2D3536;
  // margin-top: 5em;
}

.comments--container {
  margin-top: 1em;
  padding-top: 0;
}

.title--comments {
  text-align: center;
  margin: 3em 0;
  h2 {
    font-family: 'Oswald', sans-serif;
  }
}
// .row--titre--derniers--commentaires{
//   height: 1em;
// }

.cell {
  // border-right: 1px solid black;
  // height: 3em;
  font-family: 'Reem Kufi', sans-serif;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  text-align: left;
  .cell--title {
    border-left: 1px solid white;
    padding-left: 1.5em;
  }
  .cell--score {
    border-left: 1px solid white;
    padding-left: 1.5em;
  }
}

.derniers--commentaires {
  background-color: #34495e;
  width: 100%;
}

.cell--header {
  color: white;
  border: none !important;
  height: 3em;
}


.one--comment {
  border: 1px solid white;
  border-radius: 7px;
  margin-bottom: 1em;
}

.row--comments img{
    width: 2em;
    height: 2em;
    border-radius: 50%;
    border: 1px solid white;
    margin-right: 1em;
}

// .row--comments:hover {
//   background: $color-text;
//   color: #34495e;
//   cursor: pointer;
//   img {
//     border: white;
//   }
// }

.profil {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.row--header {
  // border-bottom: 1px solid white;
  border: none !important;
}


.row--comments {
  // border-bottom: 1px solid white;
  // border-top: 1px solid white;
}

.row--comments--content {
  // border-bottom: 1px solid white;
  border-top: 1px solid white;
  padding: .5em;
  h6 {
    text-align: justify;
  }
}



















// Style tableau All Comments

.tableau {
  padding: 1em;
  height: 30em;
  overflow: auto;
  background-color: #fffdd8;
  color: #34495e;
}



















// Media Queries

@media screen and (max-width: 600px) {
  #gamepage {
    height: 100%;
  }
  .first {
    height: 100%;
  }
  .second {
    height: 100%;
  }
  .container {
    width: 100%;
    .title {
      margin: 1em auto;
      text-align: center;
      &--title {
        font-size: 3em;
      }
    }
  }
  .cell {
    justify-content: center;
    border-right: none;
  }
  .row--header {
    display: none;
  }
  .row--comments {
    border-top: 1px solid $color-text;
  }
  .cell--number {
    display: none;
  }
  .cell-score {
    border: none;
  } 
} 

.row-all-comments {
  border-bottom: 1px solid #34495e;
  &:hover {
    background-color: #34495e;
    color: $color-text;
  }

}

// add to my collection

$shadow-color: #c7c7c7;

.fav {
  padding-bottom: .3em !important;
  margin-bottom: 2em;
  text-align: center;
  width: 40%;
  animation: shadowFloat 1.2s linear alternate infinite;
  border: 1px solid #fffdd8;
	border-radius: 50px;
  color: #34495e !important;
  background-color: #fffdd8;
	font-size: 13px;
  i {
    padding-right: .5em;
  }
}

// Animations
@keyframes shadowFloat {
   0%   {
		box-shadow: 0 20px 40px $shadow-color;
		transform: translateY(-2px);
	}
   100% {
		box-shadow: 0 10px 10px darken($shadow-color, 5%);;
		transform: translateY(2px); 
	}
}

