.container {
  margin-top: 3em;
  padding-top: 2em;
  width: 50%;
  height: 50%;
  .illustration {
    img {
      width: 100%;
      border: 1px solid black;
      border-radius: 14px;
    }
  }
  .title {
    display: flex;
    flex-direction: column;
    margin-top: 1em;
    text-align: left;
    &--title {
      font-family: 'Oswald', sans-serif;
      font-size: 3em;
      margin-bottom: 1em;
    }
    &--score {
      font-family: 'Oswald', sans-serif;
      margin-bottom: 1em;
      font-size: 3em;
    }
    &--editor {
      font-family: 'Reem Kufi', sans-serif;
      margin-bottom: .5em;
    }
    &--developer {
      font-family: 'Reem Kufi', sans-serif;
      margin-bottom: .5em;
    }
    &--released {
      font-family: 'Reem Kufi', sans-serif;
      margin-bottom: .5em;  
    }
  }
  .description {
    font-family: 'Reem Kufi', sans-serif;
    padding: 1em;
    &--description {
      color: black;
      font-size: .9em;
      text-align: justify;
    }
  }
  .categories {
    button {
      background: none;
      border: 1px solid black;
      border-radius: 4px;
      margin: .5em;
    }
  }
}

.comments--container {
  margin-top: 0;
  padding-top: 0;
}

.title--comments {
  text-align: center;
  margin: 2em 0;
  h2 {
    font-family: 'Oswald', sans-serif;
  }
}

.cell {
  border-right: 1px solid black;
  height: 3em;
  font-family: 'Reem Kufi', sans-serif;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  text-align: left;
}

.cell--header {
  border-right: none;
  border-bottom: 1px solid black;
}



.row--comments img{
    width: 2em;
    height: 2em;
    border-radius: 50%;
    border: 1px solid black;
    margin-right: 1em;
}

.row--comments:hover {
  background: #34495e;
  color: white;
  cursor: pointer;
  img {
    border: white;
  }
}

.profil {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}




// Media Queries

@media screen and (max-width: 600px) {
  .container {
    width: 100%;
    .title {
      margin: 1em auto;
      text-align: center;
      &--title {
        font-size: 2em;
      }
    }
  }
  .cell {
    justify-content: center;
  }
  .row--header {
    display: none;
  }
  .row--comments {
    border-top: 1px solid black;
  }
  .cell--number {
    display: none;
  }
  .cell-score {
    border: none;
  }
} 
