#NotFound {
 margin-top: 50px;
}

.contenu {
  padding-top: 50px;
  
}

.Titre {
  color: red;
  font-size: 5em;
    
}

.Ok {
  padding-top: 30px;
  font-size: 1.5em;
  border-bottom: 10px;
  
}




