<!DOCTYPE html>

<html>

    <head>

        <meta charset="UTF-8">
        <title>GameHub - Admin</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
        <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600,700&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="{{ asset('css/style.css') }}">
        {% block stylesheets %}{% endblock %}

    </head>

    <body>

    <header>

        {# <div><a href="#"><h1>G<i class="fas fa-headset"></i>MEHUB</h1></a></div> #}

        <nav class="nav">
            <a class="nav-link" href="#">Acceuil</a>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Gestion des données</a>
                <div class="dropdown-menu">
                    <a class="dropdown-item" href="#">Gestion des utilisateurs</a>
                    <a class="dropdown-item" href="#">Gestion des jeux</a>
                    <a class="dropdown-item" href="#">Gestion des catégories</a>
                    <a class="dropdown-item" href="#">Gestion des types</a>
                    <a class="dropdown-item" href="#">Gestion des plateformes</a>
                    <a class="dropdown-item" href="#">Gestion des éditeurs</a>
                    <a class="dropdown-item" href="#">Gestion des développeurs</a>
                </div>
            </li>
            <a class="nav-link" href="#">Retour sur G<i class="fas fa-headset"></i>MEHUB</a>
        </nav>

    </header>

    <div id="wrapper">

        <div class="global-data">

            <h5>Données globales:</h5>

            <ul>
                <li>Nombre d'utilisateurs: 5</li>
                <li>Nombre de jeux: 12</li>
                <li>Nombre de catégories: 5</li>
                <li>Nombre de types: 5</li>
                <li>Nombre de plateformes: 1</li>
                <li>Nombre d'éditeurs: 8</li>
                <li>Nombre de développeurs: 6</li>
            </ul>

        </div>

        <div class="global">

            <div class="left-user">
    
                <h5>Chercher un utilisateur</h5>
    
                <div class="global-content">

                    <div class="input-group mb-3">
                        <input type="text" class="form-control" placeholder="Rechercher un utilisateur" aria-label="Rechercher un utilisateur" aria-describedby="basic-addon2">
                        <div class="input-group-append">
                            <button class="input-group-text" id="basic-addon2">Rechercher</button>
                        </div>
                    </div>
    
                    <div class="data-array">
                    
                    </div>
        
                    <button type="button" class="btn btn-warning btn-lg btn-block">Bloquer le/les utilisateur(s)</button>
                    <button type="button" class="btn btn-danger btn-lg btn-block">Supprimer le/les utilisateur(s)</button>

                </div>
            
            </div>
    
            <div class="right-game">
    
                <h5>Chercher un jeu</h5>
    
                <div class="global-content">

                    <div class="input-group mb-3">
                        <input type="text" class="form-control" placeholder="Rechercher un jeu" aria-label="Rechercher un jeu" aria-describedby="basic-addon2">
                        <div class="input-group-append">
                            <button class="input-group-text" id="basic-addon2">Rechercher</button>
                        </div>
                    </div>
    
                    <div class="data-array">
                    
                    </div>

                    <button type="button" class="btn btn-info btn-lg btn-block">Jeux par ordre alphabétique</button>
                    <button type="button" class="btn btn-dark btn-lg btn-block">Jeux les plus récents</button>

                </div>
    
            </div>

        </div>

        <div class="global-game">

            <h5>Ajouter un jeu</h5>

            
        </div>
    
    </div>

        {% block body %}{% endblock %}

        {% block javascripts %}{% endblock %}
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

    </body>

</html>
