.ui.basic.segment {
  // background: linear-gradient(#2C3E4F, #95a5a6) !important;
  background: #2d3436 !important;
  padding: none !important;
}

#mycollection {
  display: flex;
}

.title--collection {
  margin-top: 2em;
  color: white;
  font-size: 3em;
}

.collection {
  margin-top: 5em;
  h2 {
    text-align: left;
    margin-left: 3em;
  }
  
}

.list {
  margin: 0 1em;
  // border-top: 1px solid lightgrey;
  border-left: 1px solid white;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: .5em;
  
}

.game {
  color: #FFFDD8;
  // border: 1px solid #FFFDD8;
  display: flex;
  justify-content: center;
  flex-direction: column;
  border-radius: 5px;
  padding: .5em;
  // box-shadow: 3px 10px 20px black; 
  // background-color: #2C3E50;
  margin-top: 1em;
  img{
    border-radius: 5px;
    width: 9em;
    height: 12em;
  }
  &:hover {
    transform: scale(1.1);
    transition: .2s;
  }
}
.game-score {
  display: none;
  margin-top: 0.5em;
  height: .3em
}

.profile-content {
  display: flex;
  div {
    width: 30%;
  }
}

 

// Hover on cards

// Hover effect on card

// .game {
//   display: flex;
//   justify-content: center;
//   flex-direction: column;
//   &::before,
//   &::after {
//     position: absolute;
//     top: 0;
//     right: 0;
//     bottom: 0;
//     left: 0;
//     transform: scale3d(0, 0, 1);
//     transition: transform .3s ease-out 0s;
//     background: rgba(255, 255, 255, .1);
//     content: '';
//     pointer-events: none;
//   }

//   &::before {
//     transform-origin: left top;
//   }

//   &::after {
//     transform-origin: right bottom;
//   }

//   &:hover,
//   &:focus {
//     &::before,
//     &::after {
//       transform: scale3d(1, 1, 1);
//     }
//   }
// }

.test {
  position: relative;
  padding: none;
}

.game {
  margin: .5em !important;
  &::before,
  &::after {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    transition: opacity .38s ease-in-out, transform .35s ease-in-out;
    content: '';
    opacity: 0;
    pointer-events: none;
  }

  &::before {
    transform: scale3d(0, 1, 1);
    transform-origin: left top;
    border-top: 1px solid white;
    border-bottom: 1px solid white;
  }

  &::after {
    transform: scale3d(1, 0, 1);
    transform-origin: right top;
    border-right: 1px solid white;
    border-left: 1px solid white;
  }

  &:hover,
  &:focus {
    &::before,
    &::after {
      transform: scale3d(1, 1, 1);
      opacity: 1;
    }
  }
}
