#home {
  .banniere {
    width: 100%;
    height: 30em;
    background-image: url('https://images-na.ssl-images-amazon.com/images/I/91ngXI03--L.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position-y: -10em;
    position: relative;
    z-index: 1;
    
  }
  h2 {
    color: white !important;
    position: absolute;
    top: 4%;
    right: 20%;
    z-index: 1;
    font-size: 5em;
    display: flex;
    justify-content: center;
    align-items: center;
    i {
      font-size: .5em;
      margin: 0 1em;
    }
    .logo {
      font-size: .8em;
      margin: 0 .2em;
      color: white;
    }
    hr {
      width: 2em;
      border-bottom: 2px solid white;
    }
  }
  .searchBar {
    position: absolute;
    top: 25em;
    text-align: center;
    width: 100vw;
    z-index: 1;
    input {
      width: 15em;
    }
  } 
}


//effet typing
// .typing {
//   color: white !important;
//   font-size: 7em;
//   font-family: 'Anton', sans-serif;
//   position: absolute;
//   // top: 25%;
//   // left: 35%;
//   z-index: 3;
// }


// .react-rotating-text-cursor {
//   animation: blinking-cursor 0.8s cubic-bezier(0.68, 0.01, 0.01, 0.99) 0s infinite;
// }

// @keyframes blinking-cursor {
//   0% {
//     opacity: 0;
//   }
//   50% {
//     opacity: 1;
//   }
//   100% {
//     opacity: 0;
//   }
// }



@media screen and (max-width: 600px) {
  #home {
    .banniere {
      background-position-x: -12em;
      background-position-y: .1em;
      background-size: cover;
    }
  }
  .typing {
    font-size: 3em;
    left: 25%;
  }
  h2 {
    font-size: 3em !important;
    width: 100%;
    top: 50%;
    right: 0 !important;
    hr {
      display: none;
    }
  }
}

@media screen and (max-width: 1500px) {
  h2 {
    font-size: 3em !important;
    width: 100%;
    top: 50%;
    right: 0 !important;
    hr {
      display: none;
    }
  }
}


