#home {
  .banniere {
    width: 100%;
    height: 30em;
    background-image: url('https://start.lesechos.fr/images/2018/11/07/13305_1541596950_shutterstock-360228971_970x545p.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position-y: -15em;
    position: relative;
    z-index: 1;
  }
  .searchBar {
    position: absolute;
    top: 25em;
    text-align: center;
    width: 100vw;
    z-index: 1;
    input {
      width: 15em;
    }
  } 
}
@media screen and (max-width: 600px) {
  #home {
    .banniere {
      background-position-x: -12em;
      background-position-y: .1em;
      background-size: cover;
    }
  } 
}


