#home {
  .banniere {
    width: 100%;
    height: 30em;
    background-image: url('https://images-na.ssl-images-amazon.com/images/I/91ngXI03--L.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position-y: -10em;
    position: relative;
    z-index: 1;
  }
  .searchBar {
    position: absolute;
    top: 25em;
    text-align: center;
    width: 100vw;
    z-index: 1;
    input {
      width: 15em;
    }
  } 
}
@media screen and (max-width: 600px) {
  #home {
    .banniere {
      background-position-x: -12em;
      background-position-y: .1em;
      background-size: cover;
    }
  } 
}


