#main-list {
  margin-bottom: 5em;
}

#title-main-list {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.list {
  margin-top: 50px;
}

h3 {
  font-family: 'Oswald', sans-serif;
  font-size: 1em;
  text-transform: uppercase;
}

#list {
  color: black;
  font-size: 1.7em;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 60%;
  margin: 30px auto;
}

//Card Style pour toutes les cards des prochaines sorties

.row {
  padding-top: .2em !important;
  padding-right: .2em !important;
  padding-left: .2em !important;
}
.column {
  padding-top: .2em !important;
  padding-right: .2em !important;
  padding-left: .2em !important;
}
.two.column.row {
  padding-bottom: 0;
  display: flex;
  align-items: center;
}
.grid {
  display: flex;
  justify-content: center;
}

.ui.card {
  width: 100%;
  .header {
    font-family: 'Oswald', sans-serif !important;
  }
  .content {
    padding: .3em;
  }
  .plus {
    z-index: 1;
    color: #FFFDD9 ;
    position: absolute;
    top: .5em;
    right: .5em;
  }
}

.meta {
  margin-right: 1em;
}

.ui.card:hover {
  cursor: pointer;
  -webkit-box-shadow: 0px 0px 14px -2px rgba(158,158,158,1);
  -moz-box-shadow: 0px 0px 14px -2px rgba(158,158,158,1);
  box-shadow: 0px 0px 14px -2px rgba(158,158,158,1);
}
// Card style pour la main card
.ui.grid > .row {
  padding-bottom: 0;
}

.mainCard {
  overflow: hidden;
  .add--collection {
    a {
      z-index: 1;
      position: absolute;
      top: 1em;
      right: 1em;
      display: none;
      font-size: .5em; 
    }
  }
  .see--more {
    a {
      z-index: 1;
      position: absolute;
      top: 2.5em;
      right: 1em;
      display: none;
      font-size: .5em;
    }
  }
  img {
    width: 100%;
    height: 9em;
    object-fit: cover;
  }
  .content {
    height: 3em;
  }
  .header {
    font-size: .8em !important;
    text-align: left;
  }
  .description {
    font-size: .5em;
    text-align: left;
  }
  .meta {
    text-align: right;
  }
  .meta a {
    font-size: .5em;
  }
}


// Card style pour la secondary card
.secondaryCard {
  overflow: hidden;
  height: 100%;
  img {
    width: 100%;
    height: 7em;
    object-fit: cover;
  }
  .content {
    height: 5.2em;
  }
  .header {
    font-size: .8em !important;
    text-align: left;
  }
  .description {
    font-size: .5em;
    text-align: left;
  }
  .meta {
    text-align: right;
  }
  .meta a {
    font-size: .5em;
  }
}

// Card style pour les petites cards

.otherCard {
  overflow: hidden;
  img {
    width: 100%;
    height: 2em;
    object-fit: cover;
  }
  .content {
    height: 2.4em;
  }
  .header {
    font-size: .5em !important;
    text-align: left;
  }
  .description {
    font-size: .4em;
    text-align: left;
    overflow: hidden;
  }
  .meta {
    text-align: right;
  }
  .meta a {
    font-size: .5em;
  }
}

.grid--four--othercards {
  padding-bottom: .4em !important;
}





