nav {
  width: 100%;
  height: 3em;
  background-color: #2C3E50;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  h2 {
    font-family: 'Open Sans', sans-serif;
    color: #FFFDD8;
  }
  .logo {
    margin: 0 2em;
    i{
      margin: 0 .1em;
    }
  }
  .menu {
    display: flex;
    align-items: center;
    cursor: pointer;
  }
  .advancedSearch {
    text-decoration: none;
    margin-right: 1em;
    color: #FFFDD8;
    font-family: 'Reem Kufi', sans-serif;
  }
  .advancedSearch:hover {
    color: white;
  }
  .connectButton {
    background: none;
    color: #FFFDD8;
    font-family: 'Reem Kufi', sans-serif;
    border: none;
  }
  .subscribeButton {
    border: 1px solid #FFFDD8;
    padding: .2em;
    border-radius: 4px;
    background: none;
    color: #FFFDD8;
    font-family: 'Reem Kufi', sans-serif;
    margin-right: 1em;
  }
}

@media screen and (max-width: 600px) {
  .advancedSearch {
    display: none;
  }
  .connectButton {
    display: none;
  }
  .subscribeButton {
    display: none;
  }
} 

