footer {
  width: 100%; 
  background-color: #1e272e;
  padding: 1em;
  h5 {
    font-size: 1.2em;
  }
  p {
    font-family: 'Reem Kufi', sans-serif;
    font-size: 1em;
  }
  li {
    a {
      color: white;
      text-decoration: none;
    }
    a:hover {
      color: #FCC502;
    }
  }
  .left--footer {
    color: white;
    i {
      color: #FCC502;
    }
  }
  .central--footer {
    font-family: 'Reem Kufi', sans-serif;
    margin-left: 5em;
    color: white;
  }
  .right--footer {
    display: flex;
    align-items: center;
    color: white;
    .right--footer--left {
      margin-right: 1em;
      img {
        height: 7em;
      }
    }
    a {
      color: white;
      text-decoration: none;
    }
    a:hover {
      color: #FCC502;
    }
  }
}


@media screen and (max-width: 600px) {
  footer {
    h5 {
      font-size: 1.2em;
    }
    p {
      font-size: .8em;
    }
    .left--footer {
      padding: 1em;
      text-align: justify;
    }
    .central--footer {
      margin-left: 0;
      padding: 1em;
    }
    .right--footer {
      padding: 1em;
    }
  }
}
