
.add-button {
border: 1px solid #FFFDD8;
border-radius: 4px;
background: none;
color: #FFFDD8;
font-family: 'Reem Kufi', sans-serif;
font-weight: bold;
margin-right: 1em;
width: 8em;
padding: 1em;
background-color: #2C3E50;
  &:hover {
    transform: scale(1.05);
    transition: .2s;
  }
}


.not-available {
  text-decoration: line-through;
  cursor: none;
}

.confirm-message {
  font-size: .7em;
  color: green;
}

.fa-gamepad {
  color: green;
}

.fa-plus-circle {
  color: #FFFDD8;
}
.plus {
  .loader--maincard {
    position: relative!important;
  }
}

