
.not-available {
  text-decoration: line-through;
  cursor: none;
}

.confirm-message {
  font-size: .7em;
  color: green;
}

.fa-gamepad {
  color: green;
}
 
.fa-plus-circle {
  color: #FFFDD8;
}
.plus {
  p {
    font-size: 2em;
  }
  .loader--maincard {
    position: relative!important;
  }
}
 
.popup--add {
  font-family: 'Reem Kufi', sans-serif;
  // width: 10em;
  // display: flex;
  background-color: #1F272F !important;
  color: white;
  position: absolute !important;
  top: 0 !important;
  .already--in {
    color: white;
    font-size: 1.2em;
  }
  .add--to--list--ok {
    color: green;
  }
}

.connect--popup {
  color: white !important;
  font-family: 'Reem Kufi', sans-serif;
  font-size: 1.2em;
}

.add--button--wait {
  font-size: 1.2em;
  font-family: 'Reem Kufi', sans-serif;
  width: 8em;
  background: none !important;
  border: 1px solid #FCC502 !important;
  color: #FCC502 !important;
  padding: .5em 1em !important;
  border-radius: 4px !important;
  &:hover {
    color: #1F272F !important;
    background: #FCC502 !important;
    border-color: #FCC502 !important;
  }
}
.add--button--have {
  font-size: 1.2em;
  font-family: 'Reem Kufi', sans-serif;
  width: 7em;
  background: none !important;
  border: 1px solid greenyellow !important;
  color: greenyellow !important;
  padding: .5em 1em !important;
  border-radius: 4px !important;
  &:hover {
    color: #1F272F !important;
    background: greenyellow !important;
    border-color: greenyellow !important;
  }
}
.add--button--want {
  font-size: 1.2em;
  font-family: 'Reem Kufi', sans-serif;
  width: 7em;
  background: none !important;
  border: 1px solid #00cec9 !important;
  color: #00cec9 !important;
  padding: .5em 1em !important;
  border-radius: 4px !important;
  &:hover {
    color: #1F272F !important;
    background: #00cec9 !important;
    border-color: #00cec9 !important;
  }
}

.connectButton {
  margin: 0 .5em;
  background: none;
  color:#FCC502;
  font-family: 'Reem Kufi', sans-serif;
  border: 1px solid #FCC502;
  border-radius: 4px;
  padding: .5em;
  &:hover {
    color: #1F272F;
    background: #FCC502;
    border-color: #FCC502;
  }
}
