@import "react-alice-carousel/lib/scss/alice-carousel.scss";

.images {
  width: 12.8em;
  height: 18em;
  object-fit: cover;
  margin: 0 .5em;
}

p {
  font-family: 'Oswald', sans-serif;
  position: absolute;
  left: 1em;
  bottom: 1em;
  color: white;
  display: none;
}
.uneImage {
  position: relative;
}

.uneImage:hover {
  p {
    display: block;
  }
  img {
    filter: blur(2px);
  }
}

.slider {
  display: flex;
  justify-content: center;
}


