@import "react-alice-carousel/lib/scss/alice-carousel.scss";


.slider--test {
  p {
    display: none;
  }
  &:hover {
    p {
      position: absolute;
      bottom: 0;
      right: 0;
      left: 0;
      margin-bottom: .2em !important;
      display: block;
      text-align: center;
      background:#2d3436;
      // width: 11.4em;
      width: 100%;
      color: white;
    }
  }
 
  // margin: .5em !important;
  &::before,
  &::after {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    transition: opacity .38s ease-in-out, transform .35s ease-in-out;
    content: '';
    opacity: 0;
    pointer-events: none;
  }

  &::before {
    transform: scale3d(0, 1, 1);
    transform-origin: left top;
    border-top: 1px solid white;
    border-bottom: 1px solid white;
  }

  &::after {
    transform: scale3d(1, 0, 1);
    transform-origin: right top;
    border-right: 1px solid white;
    border-left: 1px solid white;
  }

  &:hover,
  &:focus {
    &::before,
    &::after {
      transform: scale3d(1, 1, 1);
      opacity: 1;
    }
  }
}



.alice-carousel {
  width: 65%;
  margin: 0 auto;
}
.slider--test {
  width: 100%;
  height: 100%;
  // background-color: #2d3436;
  margin: 0 !important;
}

img {
  width: 11em;
  height: 15em;
  object-fit: cover;
}

@media screen and (max-width: 600px) {
  .alice-carousel {
    width: 95%;
  }
  // p {
  //   font-size: .5em;
  //   display: block;
  //   color: black;
  //   position: relative;
  //   text-align: left;
  // }
}
