@import "react-alice-carousel/lib/scss/alice-carousel.scss";

.images {
  width: 100%;
  height: 15em;
  object-fit: cover;
  //margin: 0 .5em;
}

.uneImage {
  position: relative;
  width: 12em;
  // width: 110%;
  p {
    font-family: 'Oswald', sans-serif;
    display: none;
  }
}

.uneImage:hover {
  p {
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    display: block;
    background: #35495D;
    // width: 11.4em;
    width: 100%;
    
    color: white;
  
  }
}

.slider {
  display: flex;
  justify-content: center;
}


// css effect on card 

.one--effect {
  display: flex;
  justify-content: center;
  // border: 1px solid black;
  // margin: .3em;
  &::before,
  &::after {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    transform: scale3d(0, 0, 1);
    transition: transform .3s ease-out 0s;
    background: rgba(255, 255, 255, .1);
    content: '';
    pointer-events: none;
  }

  &::before {
    transform-origin: left top;
  }

  &::after {
    transform-origin: right bottom;
  }

  &:hover,
  &:focus {
    &::before,
    &::after {
      transform: scale3d(1, 1, 1);
    }
  }
}

// Media Queries

@media screen and (max-width: 576px) {
  .images {
    width: 4em;
    height: 6em;
  }
  p {
    font-size: .5em;
    display: block;
    color: black;
    position: relative;
    text-align: left;
  }
}
